#myVideo {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(40%);
  filter: blur(2px);
}
.form{
    background-position: center;
    position: absolute;
    border: 1px solid #ccc;
    margin-left: 500px;
    margin-top: 152px;
}
.container{
    position: center;
        width: 100%;
        padding: 14px 24px;
        display: inline-block;   
        box-sizing: border-box;
}
.container button{
    background-color: rgba(0, 190, 6, 0.604);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    
}
.container input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button:hover {
background-color: rgba(0, 190, 6, 1);
;   
}
.container1 {
font-size: 18px;
}
.container1 a{
  color: rgba(0, 190, 6, 0.604);
  text-decoration: none;

}
.container1 a:hover{
 color: rgba(0,190,6,1);
 text-decoration: underline;
 transition: 0.5s;
}
