body{
background-image: url(background1.jpeg);
background-repeat: no-repeat;
background-size: cover; 
}
.topnav{
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;   
}
.topnav img{
    padding: 5px 10px;
    width: 22%;
    height: auto;
    }
.topnav a{
    text-decoration: none;
    color: rgba(92,92,92,255);
    padding: 14px 16px;
    font-size: 17px;
    align-items: center;
    float: right;
}
.topnav a:hover 
{
    color: #ff6600;
    text-decoration: underline;
    transition:0.5s;
  }
  div.topnav a{
    color: #175297;
  }
  .images img{
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .images table td img{
    border-radius: 20px;
    width: 255px;
    height: 215px;
    filter: brightness(80%); 
  }
  .images table td img:hover{
    max-width: 260px;
    max-height: auto;
    filter: brightness(100%);
    transform: scale(1.04);
  }
  .images h1{
    font-size: 20px;
    text-align: center;
    color: #ffffff9a;
  }
  .end h1{
    font-size: 20px;
    text-align: center;
    color: #ffffff9a;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
  .end img{
    width: 250px;
    height: 200px;
    padding: 38px;
  }
  .end img:hover{
    animation: shake 0.5s;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.dropdown{
  background-color: rgba(0, 0, 0, 0.63);
}
  .dropdown table{
    margin-left: auto;
    margin-right: auto;
     overflow: hidden;  
    align-content: center;
  }
  .dropdown select{
    background-color: #ffffff9a;
  }
  .dropdown button{
    background-color: #ffffff9a;
    border-color: black;
  }
  .dropdown select:hover{
    background-color:rgba(23, 83, 151, 0.534) ;
    border-color: #ff660081;
  }
  .dropdown button:hover{
    background-color:rgba(23, 83, 151, 0.692) ;
    border-color: #ff660081;
  }
  .dropdown button{
    font-size: 15px;
    border-radius: 30px}
  .dropdown button option{
  font-size: 30px;
  border-radius: 30px
  }
  .dropdown a{
  color: black;
  text-decoration: none;
  }
